html {
    overflow-x: hidden;
}

img {
    height: auto;
    width: 100%;
}

.abc {
    background: url(../bg.png) repeat-y 0 0;
    margin-top: 100px;
    height: 500px;
    overflow: hidden;
    animation: slideInfinite 2s 0s linear infinite;
}

.dfg {
    background: url(../stage.jpg) no-repeat 50% 100%;
    height: 200px;
    width: 100%;
    position: relative;
}

.dfg span {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
    width: 100%;
    text-align: center;
    color: #00FF00;
    font-size: 30px;
    font-weight: bold;
}

.h {
    height: 1000px;
    z-index: 10000;
}

.h01 {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.i {
    /* margin-top: 200px; */
}

.j {
    background: #312d2d;
    color: #ffffff;
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 2, 0,
            0, 0, 0, 1)
}

.k {
    position: relative;
}

.k img {
    -webkit-mask-image: url(../mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left -1400px top 0;
    animation: maskMove 1s linear 2s 1 forwards;
}

.l {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.l .l-1 {
    animation: infiniteScroll 2s infinite linear 1s both;
    display: flex;
    white-space: nowrap;
}

.l p {
    margin-left: 100px;
}

.l:hover .l-1 {
    animation-play-state: paused;
}

.m p {
    margin-top: 20px;
}

.m p:first-letter {
    border-bottom: 2px solid #ff0000;
    color: #ff0000;
    display: inline-block;
    font-size: 25px;
}

.n {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
}

.n__list {
    display: flex;
    height: 350px;
}

.n__item {
    transition: transform .2s linear 0s;
    margin-left: 50px;
    width: 300px;
}

.n__img {
    overflow: hidden;
    white-space: nowrap;
}

.n__img img {
    max-width: 300px;
}

.n__img img:hover {}

.o {
    width: 100%;
    height: 2000px;
}

.o .img {
    position: sticky;
    top: 150px;
    left: 100px;
    height: 500px;
    width: 500px;
}

.o .img img {
    position: absolute;
    top: 0;
    left: 0;
}

.p {
    height: 500px;
    background: #00FFFF;
    margin-top: 40vh;
}

.q {
    color: #000;
    font-size: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    z-index: 10;
}

.r {
    display: flex;
    overflow: hidden;
}

.r ul {
    animation: infiniteScroll 10s infinite linear 0s both;
    display: flex;
}

.r li {
    width: 300px;
}

.s {
    margin-bottom: 30vh;
    /* position: sticky; */
    top: 0;
}

.s video {
    width: 100%;
}

.t {
    background: #000;
    border-radius: 50%;
    display: block;
    height: 100px;
    left: 0;
    /* mix-blend-mode: overlay; */
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translate(-500px, -500px);
    transition: transform .2s linear 0s;
    width: 100px;
    z-index: 1000;
}

.u {
    background: #ffffff;
    font-size: 50px;
    height: 500px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.v {
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translate(-500px, -500px) scale(0.8);
    transition: transform .2s linear 0s;
    width: 100px;
    height: 100px;
    z-index: 1000;
}

.v div {
    animation: rotateInfinite 5s infinite linear 0s both;
    position: relative;
}

.v div::after {
    bottom: 0;
    border-radius: 50%;
    background: #000000;
    content: '';
    display: block;
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}

.v svg {
    color: #000;
}

.v svg text {
    font-size: 20px;
    fill: #000;
}

.w {
    background: #000000;
    color: #ffffff;
    position: sticky;
    top: calc(50% - 250px);
    word-break: break-all;
    z-index: 20;
}

.w ul {
    width: 5000px;
}

.w ul::after {
    content: '';
    clear: both;
    display: table;
    overflow: hidden;
}

.w li {
    float: left;
}

.x {
    background: #ffffff;
    height: 500px;
    position: relative;
    z-index: 10;
}

.y {
    background: #ffffff;
    height: 1000px;
    position: relative;
    /* width: 500px; */
    z-index: 10;
}

.y img {
    width: auto;
}

.y #rainbow {
    display: none;
}

.y #rainbow.line {
    display: block;

}

.y #rainbow.line .st1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: line 1s linear forwards;
}

.y .cloud {
    position: absolute;
}

.y #cloud01 {
    animation: cloudMove 10s linear infinite;
    top: 100px;
}

.y #cloud02 {
    /* animation: cloudMove 13s linear infinite; */
    top: 120px;
}

.y #cloud03 {
    /* animation: cloudMove 5s linear infinite; */
    top: 240px;
}

.y #cloud04 {
    /* animation: cloudMove 20s linear infinite; */
    top: 300px;
}

.z {
    background: #ffffff;
    position: relative;
    z-index: 10;
}

.zst0 {
    animation: rotateSun 10s linear 0s infinite;
    transform-origin: 50% 50%;
}

.aa {
    width: 100px;
    background: #ffffff;
    position: relative;
    z-index: 10;
}

.aa .st2 {
    animation: lightOn 1s linear 3s forwards;
}

.bb {}

.bb span {
    display: inline-block;
    background: #ff0000;
    border-radius: 50%;
    padding: 5px;
    margin-left: -5px;
}

.cc {
    position: relative;
    z-index: -10;
}

.cc .bg {
    background: url(/18/images/pat01.png) 0 0;
    top: 0;
    height: 100vh;
    position: fixed;
    width: 100vw;
}

.dd {
    height: 2em;
    overflow: hidden;
}

.dd p {
    background: #ffffff;
    font-size: 50px;
    transition: transform .3s ease-out 0s;
    transform: translate(0, 0);
    position: relative;
}

.dd p::after {
    content: attr(data-text);
    display: block;
    top: 100%;
    left: 0;
}

.ee {
    display: flex;
    background: #ffffff;
    position: relative;
    z-index: 1001;
}

.ee p {
    width: 50%;
}

.ee p span {
    display: inline-block;
    position: sticky;
    top: 0;
    left: 100px;
    width: 20px;
}

.ee div {
    text-align: right;
}

.ff {
    background: #999;
    height: 1500px;
    position: relative;
    z-index: 1000;
}

.gg {
    clip-path: xywh(10px 10px 50% 100% round 50px 100px);
    margin: 0 auto;
    height: 500px;
    width: 80%;
    position: relative;
    transition: clip-path .2s linear;
}

.gg:active {
    clip-path: xywh(10px 10px 30% 80% round 10px 30px 20px 189px);
}

.gg img {
    max-width: 100%;
    height: auto;
}

.hh {
    margin: auto;
    width: 40%;
    /* mask-image: url(/18/images/cloud.png);
    mask-position: center / 100%;
    mask-repeat: no-repeat;
    mask-size: auto; */
    mask: url(/18/images/cloud.png) center / 100% auto no-repeat;
    transition: mask-position .5s 0s linear, mask-size .5s 0s ease-out;
}

.hh:hover {
    mask-position: center bottom;
    mask-size: 120% auto;
}

.ii{
    position: sticky;
    bottom: 0;
    left: 0;
    background: red;
    z-index: 10000;
    padding: 10px;
    text-align: center;
}

.jj{
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    justify-content: space-between;
}
.jj figure{
    margin-top: 20px;
}
.jj01 figure:last-child img,
.jj02 figure:first-child img{
    width: 74%;
}
.jj figure:first-child{
    margin-top: 0;
}
.jj img{
    max-width: 100%;
    width: auto;
}

.jj01{
    text-align: right;
    width: 49%;
}

.jj02{
    width: 49%;
}

.kk{
    max-width: 334px;
    position: relative;
    overflow: hidden;
}

.kk02{
    width: 50px;
    height: 200px;
    background: rgba(255, 255, 255, .5);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(15deg) translate(-100px, -10%);
}

.kk:hover .kk01{
    position: absolute;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.49) 40%, rgba(255, 0, 0, 1) 100%);
    width: 50px;
    height: 2px;
    font-size: 20px;
    /* offset-rotate: auto 90deg; */
    offset-path: path('M0,.5h259.9s74.63,25.46,74.63,128.19');
    animation: squareMove 10s linear infinite forwards;
}

.kk:hover .kk02{
    transform: translate(300px, 0);
}
.ll{
    overflow: hidden;
    /* width: 800px; */
    margin: 50px auto 0;
}
.ll01{
    position: relative;
}

.ll01 .box{
    display: inline-block;
    width: 10px;
    height: 5px;
    background: #000;
    position: absolute;
    offset-path: path('M48.17,26.42s163.95,90.7,153.49,193.02-9.3,230.23,94.19,227.91,168.6-86.05,153.49-139.53-104.65-98.84-126.74-60.47-34.88,217.44,67.44,217.44,110.47-95.35,123.26-109.3,45.35-43.02,72.09,9.3,3.49,98.84,34.88,103.49,101.16-131.4,97.67-183.72,20.93-127.91,34.88-146.51,48.84-18.6,61.63,2.33,26.74,166.28,38.37,180.23,60.47,168.6,60.47,132.56v-250s-93.02,169.77-126.74,158.14-118.6-111.63-148.84-111.63-81.4,55.81-91.86,101.16-237.21,26.74-268.6-20.93-139.53-43.02-176.74-4.65S.5,485.72.5,429.91V.84l47.67,25.58Z');
    animation: squareMove 20s infinite linear;
    animation-delay: calc(0.1s * var(--index));
}
.ll02{
    height: 468px;
    width: 912px;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}
.ll03{
    height: 468px;
    width: 912px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    top: 0;
}
.mm {
    width: 230px;
    margin: 50px auto 0;
    height: 500px;
}
.mm span{
    height: 30px;
    width: 30px;
    background: #000;
    position: absolute;
    display: inline-block;
    offset-path: path('M113.49,32.02s-47.67-70.93-101.16,0,91.86,187.21,91.86,187.21c0,0,163.95-138.37,118.6-182.56s-61.63-39.53-109.3-4.65Z');
}
.mm span:nth-child(1) {
    offset-distance: 0%;
}
.mm span:nth-child(2) {
    offset-distance: 5%;
}
.mm span:nth-child(3) {
    offset-distance: 10%;
}
.mm span:nth-child(4) {
    offset-distance: 15%;
}
.mm span:nth-child(5) {
    offset-distance: 20%;
}
.mm span:nth-child(6) {
    offset-distance: 25%;
}
.mm span:nth-child(7) {
    offset-distance: 30%;
}
.mm span:nth-child(8) {
    offset-distance: 35%;
}
.mm span:nth-child(9) {
    offset-distance: 40%;
}
.mm span:nth-child(10) {
    offset-distance: 45%;
}
.mm span:nth-child(11) {
    offset-distance: 50%;
}
.mm span:nth-child(12) {
    offset-distance: 55%;
}
.mm span:nth-child(13) {
    offset-distance: 60%;
}
.mm span:nth-child(14) {
    offset-distance: 65%;
}
.mm span:nth-child(15) {
    offset-distance: 70%;
}
.mm span:nth-child(16) {
    offset-distance: 75%;
}
.mm span:nth-child(17) {
    offset-distance: 80%;
}
.mm span:nth-child(18) {
    offset-distance: 85%;
}
.mm span:nth-child(19) {
    offset-distance: 90%;
}
.mm span:nth-child(20) {
    offset-distance: 95%;
}
@keyframes squareMove {
    to {
        offset-distance: 100%;
    }
}
@media (hover: hover) {
    .dd p:hover {
        /* animation: moveText .3s linear 0s 1 alternate forwards; */
        transform: translate(0, -1em);
    }
}

@keyframes lightOn {
    0% {
        fill: #40474a;
    }

    100% {
        fill: #ffe400;
    }
}

@keyframes rotateSun {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes line {
    to {
        stroke-dashoffset: 1500;
    }
}

@keyframes cloudMove {
    0% {
        transform: translate(100vw, -20px);
    }

    20% {
        transform: translate(75vw, 20px);
    }

    40% {
        transform: translate(50vw, -20px);
    }

    60% {
        transform: translate(25vw, 20px);
    }

    80% {
        transform: translate(0vw, -20px);
    }

    100% {
        transform: translate(-25vw, 20px);
    }
}

@keyframes slideInfinite {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 81px;
    }
}

@keyframes maskMove {
    0% {
        transform: rotate(0deg);
        -webkit-mask-position: left -1400px top 0;
    }

    100% {
        /* transform: rotate(180deg); */
        -webkit-mask-position: left 0 top 0;
    }
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveText {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -1em);
    }
}