@charset "UTF-8";

@import 'core';

.blocks{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
    background: #ffffff;
    margin-bottom: 50px;
}
.block:last-child{
    margin-bottom: 0;
}
#c{
    position: sticky;
    top: 0;
    left: 0;
    >div{
        display: flex;
    }
    .left,
    .right{
        height: 300px;
        width: 50%;
    }
    .left{
        background: #ff00ff;
    }
    .right {
        background: #00ff00;
    }
}
#d {
    margin-top: 200vh;
    position: sticky;
}
#e {
    position: sticky;
}